---
title: About Goldydocs
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="About Goldydocs" image_anchor="bottom" height="min" >}}

<!--<p class="lead mt-5">A sample site using the Docsy Hugo theme.</p>-->

{{< /blocks/cover >}}

{{% blocks/lead %}}
PFPA is a project maintained by two maintainers how mainly had the idea of creating this as a follow up to a school
project. It's designed to be easy to deploy and use.
{{% /blocks/lead %}}


{{< blocks/section >}}
<div class="col-12">
<h2 class="text-center">We appreciate any feedback you give us. We are gladly not in school anymore.</h2>
</div>
{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col-12">
<h2 class="text-center">If we have enough time, we are open for hosting our project for you. Server capacities are available.</h2>
</div>
{{< /blocks/section >}}
