+++
title = "PFPA"
linkTitle = "PFPA"

+++

{{< blocks/cover title="Welcome to PFPA: A pupils PE assignment project!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
    Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://gitlab.com/pfpa/pfpa/-/releases">
        Download <i class="fab fa-gitlab ml-2 "></i>
    </a>
    {{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
PFPA is an application which enables you to let your pupils choose what PE classes they want to attend with what teacher. At the end our application calculates the best possible result for all wishes and offers which are in the system.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-gitlab" title="Contributions welcome!" url="https://gitlab.com/pfpa/pfpa" %}}
We do a [Merge Request](https://gitlab.com/pfpa/pfpa/-/merge_requests) contributions workflow on **Gitlab**. New users
are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
